.login-side {
    width: 45%;
    min-height: 100vh;
    padding-left: 80px;
}

.login-side .div {
    padding-left: 20px;
}

.login-side .dash-text {
    color: #374151;
    font-weight: 400;
}

.login-side .dash-text .dash {
    margin-top: 10px;
    width: 20%;
    height: 0px;
    border-bottom: 1px solid #d3d3d9;
}

.login-side input {
    width: 80%;
    margin-top: 20px;
    padding-bottom: 25px;
    border: 1px solid #6b7280;
    border-radius: 5px;
}

img {
    margin-top: 40px;
    width: 300px;
    height: 80px;
}

.login-side h6 {
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    margin-top: 80px;
}

.login-side p {
    color: #374151;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    padding-right: 40px;
}


.login-side button {
    background-color: #1952cd;
    padding: 8px;
    width: 80%;
    border: none;
    display: block;
    margin-top: 30px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
}

.login-side .sign-up {
    font-size: 14px;
    margin-bottom: 100px;
}

.login-side .foter {
    font-size: 14px;
    margin-top: -30px;
}

.login-side .foter-2 {
   margin-top: -10px;
    font-size: 14px;
}

.login-side .foter-2 a {
    color: #6c8bfb;
}
.right-side{
    width: 50%;
   min-height: 100vh;
    padding-right: 20px;
    background-color: #f3f4f6;
}
.right-side img{

width: 500px;
height: 500px;
}

@media (max-width:900px){
    .right-side{
        display: none;
     
    }
    .login-side{
        width: 100%;
    }
    .login-side .div{
        width: 80%;
    }
}
@media (max-width:640px) {
    img {
        width: 200px;
        height: 80px;
    }

}


@media (max-width:340px) {

    .login-side .sign {
        padding: 10px 30px;
    }
}