body,
html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

header {
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 3px 0px 5px rgb(201, 200, 200);
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
}
header img {
  width: 150px;
  height: 50px;
}
header .nav-bar {
  border: none;
  background-color: transparent;
}
header .nav-bar i {
  display: none;
}
header .navs a {
  text-decoration: none;
  margin-left: 20px;
  color: #9a9a9a;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.body .bod {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 25, 39, 0.9), rgba(0, 58, 80, 0.9), rgba(0, 53, 79, 0.75), rgba(0, 71, 90, 0.75), rgba(0, 73, 89, 0.85), rgba(0, 85, 90, 0.85), rgba(0, 93, 102, 0.85)), url(../images/bacground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .bod h1 {
  color: white;
  font-size: xx-large;
  font-weight: 700;
  font-family: arial;
  margin-top: 120px;
  text-align: center;
}
.body .bod p {
  text-align: center;
  margin-top: 5px;
  color: white;
  font-size: x-large;
}
.body .bod .invest {
  width: 570px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-family: arial;
  margin-top: 70px;
}
.body .bod .inv {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
}
.body .bod .inv .fa-angle-right {
  margin-top: -5px;
  display: none;
  font-size: x-large;
}
.body .bod .inv:hover {
  border: none;
  background-color: #00525C;
  transition: all 3s ease;
}
.body .bod .inv:hover .fa-angle-right {
  margin-top: -5px;
}
.body .bod .auto {
  text-decoration: none;
  color: white;
}

span {
  font-size: 38px;
  font-family: arial;
  font-weight: 800;
}

.most {
  width: 90%;
  margin: auto;
}
.most h5 {
  text-align: center;
  font-family: arial;
  font-size: 22px;
  color: gray;
}

.rate {
  width: 90%;
  min-height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.rate .minimum {
  margin-top: 120px;
  width: 30%;
  min-height: 80px;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  font-size: xx-large;
}
.rate .tag {
  color: #00ADA2;
}
.rate .tag2 {
  font-weight: 700;
  font-size: 15px;
}

.read {
  font-size: 20px;
  font-family: arial;
  text-decoration: none;
  color: rgb(189, 189, 189);
  padding: 5px 5px;
}

.read:hover {
  background-color: gainsboro;
  text-decoration: none;
}

.minimizingbox {
  width: 100%;
  min-height: 180vh;
  background-color: #F9FAFC;
  margin-top: 50px;
  margin-bottom: 150px;
}
.minimizingbox h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  font-family: calibri;
}
.minimizingbox .peer {
  width: 90%;
  margin: auto;
  text-align: center;
  font-family: calibri;
  font-size: large !important;
  color: gray;
}
.minimizingbox .management {
  padding: 10px 20px;
  border: 1px solid #00ADA2;
  text-decoration: none;
  font-size: 20px;
  font-family: arial;
  color: #00ADA2;
  text-align: center;
}
.minimizingbox .criteria {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 300px;
}
.minimizingbox .criteria .button {
  width: 300px;
  min-height: 600px;
  box-shadow: 0px 12px 19px rgb(196, 194, 194);
  background-color: white;
  margin-top: 30px;
  border-radius: 15px;
}
.minimizingbox .criteria .button .ima1 {
  width: 100%;
}
.minimizingbox .criteria .button h5 {
  font-size: 26px;
  font-family: calibri;
  font-weight: 700;
  text-align: left;
  padding-left: 40px;
  padding: 0px 20px 10px 55px;
}
.minimizingbox .criteria .button p {
  font-size: 16px;
  font-weight: 600;
  color: grey;
  padding-left: 40px;
  text-align: left;
  line-height: 26px;
  padding: 0px 20px 10px 55px;
}
.minimizingbox .criteria .button .know {
  height: fit-content;
  font-weight: 500;
  font-size: 22px;
  font-family: arial;
  color: darkslategrey;
}
.minimizingbox .criteria .risk {
  height: 780px;
}
.minimizingbox .criteria .borrower {
  min-height: 800px;
}
.minimizingbox .criteria .borrower .ima2 {
  width: 100%;
  height: 250px;
}
.minimizingbox .criteria .auto-invest {
  height: 880px;
}
.minimizingbox .criteria .auto-invest .ima3 {
  width: 100%;
  padding: 0px 20px;
}
.minimizingbox .criteria .legal {
  height: 730px;
}
.minimizingbox .criteria .legal .ima4 {
  width: 100%;
  padding: 0px 40px;
}

center .lend {
  font-size: 35px;
  font-weight: 700;
}
center .how {
  font-size: 16px;
  font-family: arial;
  line-height: 10px;
  font-style: oblique;
  color: gray;
}

hr {
  width: 80%;
  height: 50px;
  border-top: 8px solid #009684;
  margin-top: 40px;
}

.create {
  width: 100%;
  display: flex;
  margin-top: 80px;
  justify-content: space-around;
}
.create .account {
  width: 320px;
  min-height: 300px;
  box-shadow: 10px 10px #B2B2B2;
  background-color: #C7E1DE;
  text-align: center;
  margin-bottom: 50px;
  padding: 0px 10px 30px 10px;
}
.create .account h3 {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  color: #008080;
}
.create .account .step {
  text-align: center;
  font-weight: 700;
  font-size: larger;
}
.create .account .fill {
  margin-top: -15px;
  text-align: center;
  font-size: 20px;
  font-family: calibri;
  font-weight: 300;
  color: gray;
  line-height: 22px;
}

center h1 {
  margin-top: 70px;
  font-weight: 700;
}
center h5 {
  margin-top: 50px;
  font-size: 24px;
  font-family: calibri;
  font-weight: 500;
  color: #6f6b66;
  text-align: left;
  text-align: center;
}

.strong {
  margin-top: 60px;
  font-size: 35px;
  font-weight: 700;
}

.strongline {
  width: 250px;
  border-bottom: 5px solid #009684;
}

.investments {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  font-family: calibri;
  font-size: 19px;
  color: gray;
  margin-bottom: 50px;
}

.mayor .slide1 {
  width: 50%;
  align-items: center;
  justify-content: center;
}
.mayor .slide2 {
  width: 45%;
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mayor .slide2 .action {
  font-size: x-large;
  font-weight: 600;
  color: slategray;
}
.mayor .slide2 .holder {
  font-size: large;
  font-weight: 700;
  font-size: 24px;
  font-family: calibri;
}
.mayor .slide2 .how-to {
  margin-top: -15px;
  font-size: 23px;
  font-family: calibri;
  color: darkslategray;
  line-height: 26px;
}
.mayor .slide2 .bank {
  margin-left: 20px;
  font-size: 16px;
  font-size: 20px;
  font-family: calibri;
  color: darkslategray;
}
.mayor .slide2 .bank-name {
  margin-top: -15px;
  font-size: 16px;
  font-weight: 700;
  font-size: 19px;
  font-family: calibri;
  line-height: 19px;
}

.card-header a {
  color: rgb(157, 157, 157);
}

.card-body p, .card-body li {
  color: #666666;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}
.card-body p strong, .card-body li strong {
  font-weight: 700;
}

.more {
  width: 250px;
  height: 50px;
  border: 3px solid #00ADA2;
  margin-top: 25px;
  font-size: 20px;
  font-family: arial;
  background-color: transparent;
  color: #00ADA2;
}
.more .fa-caret-right {
  display: none;
}

.more:hover {
  background-color: #F4F4F4;
  border: none;
  transition: all 300ms ease 0ms;
}
.more:hover .fa-caret-right {
  display: inline-block;
}

.faqs {
  height: 70px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #006C70;
}

.bt {
  width: 100%;
  height: 250px;
  margin-top: -20px;
  margin-bottom: 80px;
  border: none;
  background-color: white;
}
.bt .to-know {
  width: 1080px;
  height: 60px;
  box-shadow: 0px 0px 1px;
  margin-left: 130px;
  margin-top: 2%;
  margin-bottom: 30px;
  background-color: #F4F4F4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bt .to-know .info {
  margin-left: 30px;
  margin-top: 15px;
  font-family: calibri;
  font-size: larger;
  font-weight: 200;
  color: grey;
  display: flex;
}
.bt .to-know .small-circle {
  width: 15px;
  height: 15px;
  margin-right: 30px !important;
  border-radius: 100%;
  background-color: #CCCCCC;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  min-height: 100vh;
  background-color: #1a202c;
  margin-top: 50px;
}

.footer .top {
  height: 70px;
  border-bottom: 1px solid white;
}

.footer .container .row {
  margin-top: 30px;
  justify-content: space-between;
}

.footer .container .row .icon {
  color: white;
}

.icon i {
  margin-left: 20px;
  font-size: 20px;
}

.footer .container .d-flex .side-1 {
  min-height: 70vh;
  width: 40%;
  padding-right: 8em;
}

.footer .container .d-flex .side-1 h6 {
  color: white;
  font-size: 16px;
}

.footer .container .d-flex .side-1 p {
  color: #6b7280;
  font-size: 16px;
}

.footer .container .d-flex h5 {
  color: #e4e7eb;
  font-weight: 600;
  font-size: 20px;
}

.footer .container .d-flex .side-2 {
  min-height: 50vh;
  width: 60%;
  flex-wrap: wrap;
}

.footer .container .d-flex .side-2 .legal {
  width: 30%;
  min-height: 40vh;
  margin-left: 20px;
  padding: 0px 30px 30px 3px;
}

.footer .container .d-flex .side-2 .legal a {
  display: block;
  color: #6b7280;
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
}

@media (max-width: 1180px) {
  .header .headercontent {
    display: none;
  }
}
@media (max-width: 980px) {
  header .navs {
    position: absolute;
    height: 300px;
    top: 70px;
    right: 0px;
    background-color: white;
    width: 50%;
    display: flex;
    z-index: -5 !important;
    flex-direction: column;
    transform: translateX(100%);
    transition: all ease-in 0.5s;
  }
  header .navs a {
    margin-top: 10px;
    text-align: center;
  }
  header .nav-bar i {
    display: inherit;
    margin-right: 30px;
  }
  header .nav-bar a {
    display: block;
    padding-left: 20px;
    margin-top: 20px;
    text-align: left;
    color: rgb(103, 100, 100);
  }

  .bod .invest {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bod .invest .inv {
    padding: 10px 20px;
    text-align: center;
    width: 150px;
    margin-bottom: 30px;
  }

  .rate {
    width: 90%;
    min-height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .rate .minimum {
    margin-top: 50px;
    width: 50%;
    min-height: 80px;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    font-size: xx-large;
  }

  .create {
    flex-direction: column !important;
    width: 90% !important;
    margin: auto;
  }
  .create .account {
    width: 90% !important;
  }

  .mayor .slide1 {
    display: none !important;
  }
  .mayor .slide2 {
    width: 100%;
    padding: 15px;
  }
}
@media (max-width: 750px) {
  .most h5 {
    font-size: 16px;
  }

  .criteria .legal, .criteria .borrower, .criteria .auto-invest, .criteria .peer {
    width: 40% !important;
  }
}
@media (max-width: 650px) {
  .criteria {
    flex-direction: column !important;
  }

  .legal,
.borrower,
.auto-invest,
.peer {
    padding: 0px;
    width: 70% !important;
    margin: auto;
  }
}

/*# sourceMappingURL=invest.css.map */
